@tailwind base;

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

@tailwind components;
@tailwind utilities;

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex items-center justify-between;
}

.btn-primary {
  @apply text-base font-semibold h-[48px] bg-blue600 rounded-[8.86px] text-[#ffffff];
}

.btn-primary-disabled {
  @apply bg-blue200 cursor-not-allowed;
}
